<nav style="background-color: #eee; padding: 10px; border-bottom: 1px solid #ccc;">
  <%= link_to "My Library", root_path, style: "font-weight: bold; text-decoration: none; color: #333;" %>
  <span style="margin: 0 10px;">|</span>
  <%= link_to "Add a New Book", new_book_path, style: "text-decoration: none; color: #555;" %>
</nav>